
<div id="logo">
        <font size="+3">Miguel Mercado's Research Site.</font>
  
        <hr style="height:1px;border-width:0;color:gray;background-color:gray">
        Undergraduate student at USC interested in theoretical condensed matter physics.
        <br>
        <p style="text-align:center;"> <em> email: momercad@usc.edu </p> 
        <hr style="height:1px;border-width:0;color:gray;background-color:gray">
       
        <br>
        <p style="text-align:left;"> <font-size=+2><strong>Journals</strong> </font-size=+2> </p> 
               
        &gt Entanglement and Quantum Matter <br>
        &gt Quantum Mechanics/Quantum Field Theory <br>
            
        <p style="text-align:left;"> <font-size=+2><strong>Other notes and ideas</strong> </font-size=+2> </p> 
        
         &gt Analytical Recipes <br>
         &gt 3D gauge Ising model as a string theory
        
  </a>
</div>
