
<div id="logo">
        <br>
        <br>
        <br>
        <font size="+4">Miguel O. Mercado; Research. </font>
  
        <hr style="height:1px;border-width:0;color:gray;background-color:gray">
        <font size=+1>
         
        Undergraduate student at USC interested in theoretical condensed matter physics, mathematics, and quantum matter + information. Site
                and notes currently undergoing major updates!
        <br>
        <p style="text-align:center;"> <em> email: momercad(at)usc(dot)edu <br> </em> </p> 
        </font>
        <hr style="height:1px;border-width:0;color:gray;background-color:gray">
       
        <br>

        <h3 align="left">Some questions I'm currently thinking about: </h3>
        
        
        <font size=-1>
        <ul>
        <p style="text-align:left;">
        <li> What are the fundamental connections between matter and quantum entanglement?  <br>
        <li> What are novel ways to improve our control over quantum many-body systems for technological applications? <br> 
        <li> Can we apply present-day quantum computers to study exciting physics? <br> 
        <li> How can we improve ways that physics is presented and learned at the undergraduate level and earlier? <br> 
        </p>
        </ul>
        </font>
        
        
        <h2 align="left">Physics and Math Journals.</h2>
               
        <font size=+1>

          <p style="text-align:left;">
        <a href="https://drive.google.com/file/d/12omVvoaEmJprmaUIXs9prgKhGEb_6hc_/view?usp=sharing"> &gt Entanglement and Quantum Matter </a> <br>
        <a href="https://drive.google.com/file/d/1HVLWoagGr7dHids9XTfqMjqJ-cVWG_Fu/view?usp=sharing"> &gt Quantum Mechanics/QFT </a> <br> 
        </p>
        
        </font> 
            
        <h2 align="left">Notes and ideas.</strong></h2>
        
         <font size=+1>

        <p style="text-align:left;">
         &gt Analytical Recipes <br>
        <a href="https://drive.google.com/file/d/1eK8_ZzY3ZN1qvuFxOjsA7Ts0wI4pfgWC/view?usp=sharing"> &gt Topological mass generation vs. Higgs mechanism </a> <br>
         <a href="https://drive.google.com/file/d/1zucWejL18DCyyv0NYPK8eAUWeEwH_Q74/view?usp=sharing"> &gt 3D gauge Ising model as string theory </a> <br>
        <a href="https://drive.google.com/file/d/1JyrScrKPFBPFZDCfDvS4H-wJZh587b70/view?usp=sharing"> &gt Dyson singularity </a> <br>
        <a href="https://drive.google.com/file/d/1RIMLcICoL-B7OcfFFgc_2nNz4jEpn3i8/view?usp=sharing"> &gt Reparameterization symmetry, Lorentz algebras in light-cone coordinates 
                and light-cone gauge </a> <br>
         <a href="https://drive.google.com/file/d/1x1xjEea5US1AaKXy3IBjCja-9q7GLu-D/view?usp=sharing"> &gt Magnons and topology </a> <br>
         <a href="https://drive.google.com/file/d/1x660FplM-DVnwTx1tKdAn_SPXDZsoDU1/view?usp=sharing"> &gt Science communication: What makes a good presentation? </a> <br>
        </p>
        
        </font> 

        <br>
        <br>

        <hr style="height:1px;border-width:0;color:gray;background-color:gray">

        <br>
                 
         <h2 align="center">Publications.</strong> </font></h2>

        <h3 align="center"> <em> Papers.</strong> </em> </font></h3>

        &gt IP: Hierarchy of topological surface modes in disordered chiral symmetric insulators, M. Mercado and S. Haas (2023). <br>

        <a href="https://arxiv.org/abs/2210.10937">  &gt (Acknowledgement), Cluster Expansion methods from physical concepts, P. Lammert and V. Crespi, arXiv:2210.10937 [cond-mat.mtrl-sci] (2022). </a> <br>
       
        <br>
        
        <h3 align="center"> <em> Presentations. (slides, posters, videos) </strong> </em> </font></h3> 

        &gt IP: M. Mercado, Many-Body Entanglement via Topological Magnons in Hybrid Quantum Multilayers, 5-minute lightning talk video for MIT Office
        of Graduate Education (2023). <br>

        <a href="https://drive.google.com/file/d/1v72lu6pzRxor-e_N_Jq4NNgjyYaXSVrn/view?usp=sharing"> &gt M. Mercado, Zhongqiang Hu, L. Liu, Many-Body Entanglement via Topological Magnons in Hybrid Quantum Multilayers, Poster presentation
        at MIT Summer Research Program Poster Symposium (2023). </a> <br> 

        <a href="https://drive.google.com/file/d/1_4-f--5dxP_mdidE8NTOJHDoyBR9E51S/view?usp=sharing"> &gt M. Mercado, Many-Body Entanglement via Topological Magnons in Hybrid Quantum Multilayers, 
        talk at MIT Spintronic Material and Device group (2023). </a> <br> 

        <a href="https://docs.google.com/presentation/d/1dpu80WPoXqx2Yzq2E5qpwzocpR2faeMu56qooNVG4tM/edit?usp=sharing"> &gt M. Mercado, 3D gauge Ising model as string theory, talk at USC PHYS 499 string theory course (2023). </a> <br>

         <a href="https://drive.google.com/file/d/19EBXjSYGyL2feupUGCKyD8pd0VyFgrg6/view?usp=sharing"> &gt M. Mercado and S. Haas, Topological Protection Against Disorder in Chiral Symmetric Matter, Poster presentation at USC 
        Undergraduate Symposium for Scholarly and Creative Work (2023). (Winner - 2nd Place, Best Overall Presentation) </a> <br> 

        <a href="https://drive.google.com/file/d/19ktFmdH4RkZLaJsX4amyS0ohuqFbm_aY/view?usp=sharing">  &gt M. Mercado and P. Lammert, GCEP: A Revised Cluster Expansion Method Formulation based on Hilbert Space
Geometry, Poster presentation at National Organization for the Professional Advancement of Black Chemists and
Chemical Engineers Global Science Awakening Conference (2022). </a> <br>
        
        <a href="https://drive.google.com/file/d/19ktFmdH4RkZLaJsX4amyS0ohuqFbm_aY/view?usp=sharing"> &gt M. Mercado and P. Lammert, GCEP: A Geometrical Revision of Cluster Expansion Theory, Poster presentation at
The Pennsylvania State REU Poster Symposium (2022). </a> <br>

        <a href="https://drive.google.com/file/d/10yCHur2xJQNiVFfbfAGcm3GS6XKH2X6L/view?usp=sharing"> &gt M. Mercado, Revised Cluster Expansion Method based on Hilbert Space Geometry and GCEP Software Package Implementation, 
        talk at Center for Nanoscale Science Interdiscplinary Research Group (IRG) (2022). </a> <br>


        <br>
        <br>
        
        <h3 align="left">People.</strong> </font></h3>

        <font size=-1>
        * I am extremely fortunate to be mentored by extraordinary people. I would like to specifically mention (though not all can be written!) * : <br>
        <p style="text-align:left;">
         
        &gt Dr. Stephan Haas (USC), condensed matter theorist, physics dep. chair <br>
        &gt Dr. Scott MacDonald (USC), string theorist, physics/mathematics orator <br>
        &gt Dr. Aiichiro Nakano (USC), computational scientist, physicist, polymath <br>
        &gt Dr. Bhavna Sharma (USC), materials/environmental engineer, architect, designer <br>
        &gt Dr. Luqiao Liu (MIT), experimental physicist and device inventor <br>
        &gt Zhongqiang Hu (MIT), theoretical and experimental physicist, research mentor <br>
        </p>
        </font>
        
        
        

  </a>
        <br>

        <img src="{{site.url}}{{site.baseurl}}/assets/images/1d_magnon_gif.gif" alt="Logo"></img>

         <p style="text-align:center;">
                <font size=-1>
                "Time-reversal symmetry breaking": magnon (spin-wave) propagating through a honeycomb lattice. (Credit: NIST)
                        
                </font>
                </p>
        <br>

        <img src="{{site.url}}{{site.baseurl}}/assets/images/IMG_8012.JPG" alt="Logo"></img>

        <p style="text-align:center;">
                <font size=-1>
                Guitar performance at the 2023 MIT Summer Research Closing Ceremony. Featured: Angelina Rogatch (violin, physical chemist), 
                        Derick Flores-Madrid (piano, particle physicist).
                </font>
                </p>

        
                
</div>
