
<div id="logo">
        <br>
        <br>
        <br>
        <font size="+3">Miguel O. Mercado</font>
  
        <hr style="height:1px;border-width:0;color:gray;background-color:gray">

        <img src="{{site.url}}{{site.baseurl}}/assets/images/Miguel_Mercado_Headshot.jpg" alt="Logo" style="float: right; 
  margin: 10px; width: 300px; height: 225px"></img>

        
        <!-- <h3 align="center">  About</strong> </h3> -->
        
        <p style="text-align:left;">
        <font size=-1>
                
        I am an undergraduate student at <a href="https://dornsife.usc.edu/physics/"> <font color="#920035"> USC</a></font>, where I presently collaborate actively with students and faculty. Previously, I completed the <a href="https://oge.mit.edu/msrp/"><em>MIT Summer Research Program (MSRP)</a></em> under the supervision of <a href="https://www.rle.mit.edu/people/luqiao-liu/"><font color="#920035">Dr. Luqiao Liu</font></a> in 2023, and prior was an <a href="https://mrsec.org/education/penn-state-nanoscale-physics-materials-summer-research-experiences-undergraduates-reu"> <em> NSF-REU Fellow</em></a> at Penn State advised by <a href="https://science.psu.edu/physics/people/paul-lammert"> <font color="#920035"> Dr. Paul Lammert</a></font> in 2022.<br><br>I am interested in open questions within condensed matter theory encompassing out-of-equilibrium quantum matter and quantum information science.
        </p>
                
        <!-- <br> -->
        <p style="text-align:left;"> <em> Email: momercad@usc.edu <br> </em> </p> 

        <p style="text-align:left;"> Here is a link to my current <a href="https://miguelomercado.github.io/Miguel_Mercado_CV.pdf"><font color="#5B60FC">CV</a></font>. <br></p>

        <p style="text-align:left;"> I am also an <a href="https://www.aps.org/membership/communities/student-ambassadors"> <font color="#920035">APS Student Ambassador</a></font> and founding director for USC's Physics & Astronomy Mentorship Program for Undergraduates (PAMP). Outside of physics, I enjoy basketball, playing guitar, and was a writer for the <a href="https://dailytrojan.com/"><font color="#920035">Daily Trojan</font></a>. <br></p> 
        
        <p style="text-align:left;"> My work is generously supported by the <em><a href="https://www.astronautscholarship.org/"> <font color="#920035"> Astronaut Scholarship Foundation</a></font>.</em> </p> 
        </font>
        <hr style="height:1px;border-width:0;color:gray;background-color:gray">
       
        <br>
        </font>
        <!--
        <h3 align="left">Here are some questions I'm currently thinking about: </h3>
        
        
        <font size=-1>
        
        <p style="text-align:left;">
         &#160 &#8226 What are the fundamental relationships between matter and quantum entanglement? <br>
         &#160 &#8226 What are novel ways to improve control over many-body states for technological applications? <br>
         &#160 &#8226 Can we apply present-day quantum computers to study exciting physics? <br>
         &#160 &#8226 How can we make physics and math education more accessible? <br>
        </p> 
                
        </font>
        -->
        
        <h3 align="center"> Physics journals </h3>
               
        <font size=+1>

          <p style="text-align:left;">

        <a href="https://drive.google.com/file/d/1znFALS1SBmHi2BPSU4hPwB4LCWXP2IGi/view?usp=sharing"> &gt Classical Mechanics </a> <br>
        <a href="https://drive.google.com/file/d/1pOG-Wby4q3AoFAeNlUoZd7PZrdtUvJVn/view?usp=sharing"> &gt Quantum Mechanics/QFT </a> <br>
        <a href="https://drive.google.com/file/d/1w3S8SJifbQgj35bjwMuMFS_wYc-YDvUl/view?usp=sharing"> &gt Condensed Matter/QI </a> <br>
        </p>
        
        </font> 
            
        <h3 align="center"> Notes and ideas</strong> </h3>
        
         <font size=+1>

        <p style="text-align:left;">
        <a href="https://drive.google.com/file/d/11_2Ls2rDIOjyT1ybHpEAUuVBncpcKAsX/view?usp=sharing"> &gt Analytical Recipes </a> <br>
        <a href="https://drive.google.com/file/d/1eK8_ZzY3ZN1qvuFxOjsA7Ts0wI4pfgWC/view?usp=sharing"> &gt Topological mass generation vs. Higgs mechanism </a> <br>
         <a href="https://drive.google.com/file/d/1zucWejL18DCyyv0NYPK8eAUWeEwH_Q74/view?usp=sharing"> &gt 3D gauge Ising model as string theory </a> <br>
        <a href="https://drive.google.com/file/d/1JyrScrKPFBPFZDCfDvS4H-wJZh587b70/view?usp=sharing"> &gt Dyson singularity </a> <br>
        <a href="https://drive.google.com/file/d/1RIMLcICoL-B7OcfFFgc_2nNz4jEpn3i8/view?usp=sharing"> &gt Reparameterization symmetry, Lorentz algebras in light-cone coordinates 
                and light-cone gauge </a> <br>
         <a href="https://drive.google.com/file/d/1x1xjEea5US1AaKXy3IBjCja-9q7GLu-D/view?usp=sharing"> &gt Magnons and topology </a> <br>
         <a href="https://drive.google.com/file/d/1x660FplM-DVnwTx1tKdAn_SPXDZsoDU1/view?usp=sharing"> &gt Science communication: What makes a good presentation? </a> <br>
         <a href="https://miguelomercado.github.io/2d_Topological_Quantum_Field_Theories_and_Frobenius_Algebras.pdf"> &gt 2d TQFTs and Frobenius algebras </a> <br>
         <a href="https://drive.google.com/file/d/1Vb7lA1MkBVa1NOArIWKZscfAinaY3O7h/view?usp=sharing"> &gt Topology vs. decoherence - a case study  </a> <br>
         <a href="https://drive.google.com/file/d/138Mh4nYVjtrJMU977nfLJY9a4fVIjINS/view?usp=sharing"> &gt Relaxation dynamics of Goldstone modes in noisy spin lattices  </a> <br>
         <a href="https://drive.google.com/file/d/1hal1gQ2esMJrMa9gaIx6yU4cSx_kbu1s/view?usp=sharing"> &gt Open quantum SPTs in one dimension  </a> <br>
        </p>
        
        </font> 

        <br>
        <br>

        <hr style="height:1px;border-width:0;color:gray;background-color:gray">
        
        <!--<p style="text-align:left;">
        <font size=-1>
        Ever wonder what happens if you shrunk an ice cube down to one billionth of its original size? Welcome to my area of research: <em>Quantum Condensed Matter Physics</em>!
        </font>
        </p> -->
        
        <br>
        
        <h3 align="center"> <em> Here are some questions I'm currently thinking about: </em> </h3>
        <font size=-1>
        <p style="text-align:left;">
        <em>
         &#160 &#8226 How do we conceptually and phenomenologically understand <a href="https://www.youtube.com/watch?v=GJHhnr9R_ZM"><font color="#f5425d">topological phases</a></font> out of equilibrium? (e.g. open quantum systems, periodically driven, interacting or with disorder?), and/or in materials? (e.g. FMs, AFMs, graphene analogues?) </a> <br>
         &#160 &#8226 Can we apply state-of-the-art <a href="https://calteches.library.caltech.edu/1976/1/1960Bottom.pdf"><font color="#6749fc">quantum devices</a></font> (e.g. cold atom arrays, solid state simulators, NV-centers, spintronic devices) to study non-trivial footprints of quantum systems? (e.g. dynamics and thermalization?) <br>
         &#160 &#8226 What are the fundamental roles of symmetries, topology, and quantum information in <a href="https://en.wikipedia.org/wiki/Many-body_problem"><font color="#5B60FC">many-body physics?</a></font> Can we experimentally realize testbeds for these ideas? <br>
         &#160 &#8226 How do we improve mathematics and physics education to be more fun, engaging, and accessible at all levels? <br>
        </em> 
        </p> 
         </font> 
        
        <br>

        <hr style="height:1px;border-width:0;color:gray;background-color:gray">

        <br>
         <h2 align="center">Publications</strong> </font></h2>

        <h3 align="center"> Papers</strong> </font></h3>
        <font size=-1><p style="text-align:center;">My research activity is also viewable on my <a href="https://scholar.google.com/citations?user=qL22QRcAAAAJ&hl=en"><font color="#5B60FC">Google Scholar</a></font>.</p><br>
       <p style="text-align:left;">

               <font size=-1>

        <p style="text-align:left; text-indent: -1.4em; padding-left: 1.4em;"> 
         1. <font size=+1>Simulating one-dimensional Floquet topology on<font size=-1> </font>a noisy quantum<font size=-1> </font>processor</font><br>
         <em><b>M. Mercado</b>, K. Reyes, A. Prem, A. Nakano, R.D. Felice, S. Haas</em><br> 
         In prep (submission to Phys. Rev. Lett), 2025<br>  
         </p>  

        <p style="text-align:center; text-indent: 0em; padding-left: 0em;"> 
        <font color="#E30B5C">In-a-nutshell:</font> We implement and analyze the long-time dynamics for a collection of periodically-driven topological phases on superconducting hardware and identify a natural finite-depth circuit structure for Floquet topological insulators invariant with system size. We demonstrate that protection of chiral symmetry in driven systems can significantly extend coherence times in experiment.
        </p>
        <br>
        
                       
        <p style="text-align:left; text-indent: -1.4em; padding-left: 1.4em;"> 
         2. <font size=+1><a href="https://arxiv.org/abs/2402.12661">Dynamics of symmetry-protected topological matter on a quantum computer</font></a><br> 
         <em><b>M. Mercado</b>, K. Chen, P. Darekar, A. Nakano, R.D. Felice, S. Haas</em><br>
         Physical Review B 110 (7), 075116 (2024). <br>  
        </p>

        <p style="text-align:center; text-indent: 0em; padding-left: 0em;"> 
        <font color="#E30B5C">In-a-nutshell:</font> We introduce and apply a quantum circuit structure with constant depth capable of realizing time-evolution of topological models up to arbitrarily long times. As an initial application, we demonstrate experimental detection of localized modes in (non-interacting) topological insulator molecules, and point out that it is possible to generalize to interacting/higher dimensional lattices. 
        </p>
        <br>
        <!-- <p style="text-align:left;"> -->
        
         <p style="text-align:left; text-indent: -1.4em; padding-left: 1.4em;"> 
         3. <font size=+1><a href="https://arxiv.org/abs/2210.10937"> A Probabilistic Foundation for Cluster Expansion</font></a><br>
         <em>P. Lammert, <b>M. Mercado</b>, V. Crespi</em><br>
         (Early version) arXiv:2210.10937 (2022)<br>  
         </p>
        <p style="text-align:center; text-indent: 0em; padding-left: 0em;">
        <font color="#E30B5C">In-a-nutshell:</font> We reformulate the Cluster Expansion Method on an axiomatic basis where cluster components of configuration functions are interpreted Möbius inversion of conditional expectation based in Hilbert space geometry, addressing a conventional underdetermination issue. The formalism developed provides inspiration behind engineering numerical training sets.
                
         </p>
                 
         <!-- </p> -->
          <br>
        
                </font>
         </font>
        
        <h3 align="center"> Presentations (talks, posters, videos) </strong></h3> 

                <font size=-1>

        <p style="text-align:left; text-indent: -5em; padding-left: 5em;"> 
        <a href="https://docs.google.com/presentation/d/133H7MvVFhNLYZoh5_7yZUknt80n-zIXKJDdF0MQptXo/edit?usp=sharing"> &gt D62.00003: Dynamics of Symmetry-Protected Topological Phases of Matter on a Quantum Computer, oral presentation at
        American Physical Society March Meeting (2024) - <font color="#920035">Top Undergraduate Presenter Award.</font> </a> <br>
        </p>

        <p style="text-align:left; text-indent: -5em; padding-left: 5em;"> 
        <a href="https://docs.google.com/presentation/d/16rsR3DfvUUfHfZAkR0Logo-QsAw1E-WgOIzFKcydGGA/edit?usp=sharing"> &gt Probing Topological Phases of Matter with Quantum Computers, talk at
        Astronaut Scholarship Foundation Technical Conference (2024). </a> <br>
        </p>

        <p style="text-align:left; text-indent: -5em; padding-left: 5em;"> 
        <a href="https://docs.google.com/presentation/d/1IxkatcUgjJ-qL5vYQmNpEXiafCuNAGUtdtWv9qNPU4E/edit?usp=sharing"> &gt Stabilizing Topological Phases of Matter on Present-Day Quantum Computers, talk at
        Southern California Conferences for Undergraduate Research (SCCUR) (2023). </a> <br>
        </p>

        <p style="text-align:left; text-indent: -5em; padding-left: 5em;">
        <a href="https://docs.google.com/presentation/d/1nFbtMR4_hVTFHAeEOKNXtxp8Xn2FaSSUV1R1ReZtgdM/edit?usp=sharing"> &gt Colloquium: Probing Topological Quantum Matter, invited speaker at Bryn Mawr College (2023). </a> <br>
        </p>
                        
        <p style="text-align:left; text-indent: -5em; padding-left: 5em;">
        <a href="https://drive.google.com/file/d/1v72lu6pzRxor-e_N_Jq4NNgjyYaXSVrn/view?usp=sharing"> &gt Many-Body Entanglement via Topological Magnons in Hybrid Quantum
        Multilayers, virtual poster presentation at MSRP Extension Program Virtual Showcase (2023). </a> <br>
        </p>

        <p style="text-align:left; text-indent: -5em; padding-left: 5em;">
        <a href="https://docs.google.com/presentation/d/1cOm7g24iTvhdH4Z0LhfJj2CdtiMvGPowj91WX4T1pdk/edit?usp=sharing"> &gt E02.00006: Hierarchy of Surface Modes in Disordered Symmetry Protected Topological Insulators, oral presentation at American Physical Society Mid-Atlantic Meeting (2023). </a> <br>
        </p>

        <p style="text-align:left; text-indent: -5em; padding-left: 5em;"> 
        <a href="https://docs.google.com/presentation/d/1mMXT7na39QlQWSL2tVYe0warPxI5avPCcC6niKwnhSE/edit?usp=sharing"> &gt Realization of Stable Topological Matter on a Noisy Quantum Computer, talk at Gulf
        Coast Undergraduate Research Symposium (GCURS) (2023). </a> <br>
        </p>
               
        <p style="text-align:left; text-indent: -5em; padding-left: 5em;">
        <a href="https://drive.google.com/file/d/1v72lu6pzRxor-e_N_Jq4NNgjyYaXSVrn/view?usp=sharing"> &gt Many-Body Entanglement via Topological Magnons in Hybrid Quantum Multilayers, Poster presentation
        at MIT Summer Research Program Poster Symposium (2023). </a> <br> 
        </p>
        
         <p style="text-align:left; text-indent: -5em; padding-left: 5em;">
        <a href="https://drive.google.com/file/d/1_4-f--5dxP_mdidE8NTOJHDoyBR9E51S/view?usp=sharing"> &gt Many-Body Entanglement via Topological Magnons in Hybrid Quantum Multilayers, 
        talk at MIT Spintronic Material and Device group (2023). </a> <br> 
         </p>

         <p style="text-align:left; text-indent: -5em; padding-left: 5em;"> 
        <a href="https://docs.google.com/presentation/d/1dpu80WPoXqx2Yzq2E5qpwzocpR2faeMu56qooNVG4tM/edit?usp=sharing"> &gt 3d gauge Ising model as string theory, talk at USC string theory course seminar (2023)
                
         <p style="text-align:left; text-indent: -5em; padding-left: 5em;"> 
         <a href="https://drive.google.com/file/d/19EBXjSYGyL2feupUGCKyD8pd0VyFgrg6/view?usp=sharing"> &gt Topological Protection Against Disorder in Chiral Symmetric Matter, Poster presentation at USC 
        Undergraduate Symposium for Scholarly and Creative Work (2023) - <font color="#920035">Best Overall Presentation Award.</font> </a> <br> 
         </p>

        <p style="text-align:left; text-indent: -5em; padding-left: 5em;"> 
        <a href="https://drive.google.com/file/d/19ktFmdH4RkZLaJsX4amyS0ohuqFbm_aY/view?usp=sharing"> &gt GCEP: A Geometrical Revision of Cluster Expansion Theory, Poster presentation at
The Pennsylvania State REU Poster Symposium (2022). </a> <br>
         </p>

        <p style="text-align:left; text-indent: -5em; padding-left: 5em;"> 
        <a href="https://drive.google.com/file/d/10yCHur2xJQNiVFfbfAGcm3GS6XKH2X6L/view?usp=sharing"> &gt Revised Cluster Expansion Method based on Hilbert Space Geometry and GCEP Software Package Implementation, 
        talk at Center for Nanoscale Science Interdiscplinary Research Group (IRG) (2022). </a> <br>
         </p>

                </font>
                        
        <br>

        <h3 align="center">* * * * *</strong> </font></h3>  <br>
        
        <h3 align="center">People</strong> </font></h3>

        <font size=-1>
        <p style="text-align:left;">
        * I am extremely fortunate to be mentored by extraordinary people! I would like to mention: *<br>
        </p>
        <p style="text-align:left;">
         
        &gt Stephan Haas (USC), condensed matter theorist, physics dep. chair <br>
        &gt Scott MacDonald (USC), string theorist, physics/mathematics orator <br>
        &gt Aiichiro Nakano (USC), computational scientist, physicist, polymath <br>
        &gt Rosa Di Felice (USC), theoretical/computational physicist, quantum chemist <br>
        &gt Bhavna Sharma (USC), materials/environmental engineer, architect, designer <br>
        &gt Luqiao Liu (MIT), experimental physicist and device inventor <br>
        &gt Zhongqiang Hu (MIT), theoretical and experimental physicist, research mentor <br>
        &gt Abhinav Prem (IAS), condensed matter theorist/mathematical physicist <br>
        &gt Michael Markesbery (OROS Labs), inventor/entrepreneur, astronaut scholar <br>        
         </p>
        <p style="text-align:right;">
        ... in addition to everyone who is supporting me! <br>
        </p>
        </font>
        
        
        

  </a>
        <br>

        <img src="{{site.url}}{{site.baseurl}}/assets/images/1d_magnon_gif.gif" alt="Logo"></img>

         <p style="text-align:center;">
                <font size=-1>
                "Time-reversal symmetry breaking": magnon (spin-wave) propagating through a honeycomb lattice. (Credit: NIST)
                        
                </font>
                </p>
        <br>

        <img src="{{site.url}}{{site.baseurl}}/assets/images/IMG_8012.JPG" alt="Logo"></img>

        <p style="text-align:center;">
                <font size=-1>
                Guitar performance at the 2023 MIT Summer Research Closing Ceremony. Featured: Angelina Rogatch (violin, physical chemist), 
                        Derick Flores (piano, astrophysicist).
                </font>
                </p>

        
                
</div>
